{% extends 'base.html' %}

{% block head %}
    <title>{{ channel_info.title }}</title>
{% endblock %}

{% block body %}
    <header>
        <h1>{{ channel_info.title }}</h1>
        <p>{{ channel_info.description }}</p>
        <p><a href="{{ channel_info.link }}" target="_blank" class="button-link">Visit Channel</a></p>

        <!-- Form for refreshing feed, opening in a new window -->
        <form id="refreshFeedForm" action="{{ url_for('run_script') }}" method="get" target="_blank">
            <button type="submit" class="button-link">Refresh Feed</button>
        </form>
    </header>

    <main>
        <table>
            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td>
                            <div>
                                <img src="{{ movie.thumbnail }}" alt="{{ movie.title }}" style="width:300px;">
                            </div>
                            <div>
                                <a href="{{ movie.content.videos[0].url }}" target="_blank">Watch Video</a>
                            </div>
                        </td>
                        <td>
                            <div>ID: {{ movie.id }}</div>
                            <div>Title: {{ movie.title }}</div>
                            <div>Description: {{ movie.description }}</div>
                            <div>Short Description: {{ movie.shortDescription }}</div>
                            <div>Long Description: {{ movie.longDescription }}</div>
                            <div>Release Date: {{ movie.releaseDate }}</div>
                            <div>Rating: {{ movie.rating }}</div>
                            <div>Cast: {{ movie.cast | join(', ') }}</div>
                            <div>Director: {{ movie.director }}</div>
                            <div>Genres: {{ movie.genres | join(', ') }}</div>
                        </td>
                        <td>
                            <div>Duration (s): {{ movie.content.duration }}</div>
                            <div>Video Type: {{ movie.content.videos[0].videoType }}</div>
                            <div>Quality: {{ movie.content.videos[0].quality }}</div>
                            <div>Date Added: {{ movie.content.dateAdded }}</div>
                            <div>Tags: {{ movie.tags | join(', ') }}</div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2025 Worth Baptist Church</p>
    </footer>
{% endblock %}
